<br><br>
<!-- <h1 style="text-align: center;padding: 35px;">{{ text }}</h1> -->
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th scope="col">Auction Id</th>
            <th scope="col">Car Id</th>
            <th scope="col">Car Variant</th>
            <th scope="col">Dealer Name</th>
            <th scope="col">Dealer Number</th>
            <th scope="col">City</th>
            <th scope="col">Current Amount</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Auto Bid Amount</th>
            <th scope="col">Bid Start</th>
            <th scope="col">Bid End</th>
            <th scope="col">Registration Number</th>
        </tr>
    </thead>
    <tbody> {% for a in response %}
        <tr>
            <td>{{ a.Auction_id }}</td>
            <td><a class="btn btn-outline-success" href='http://ra1ra2ra3.truebil.com/listings/edit?id={{ a.CarId }}'
                    target="_blank">{{ a.CarId }}</a></td>
            <td>{{ a.Car }}</td>
            <td>{{ a.Dealer_name }}</td>
            <td>{{ a.number }}</td>
            <td>{{ a.City }}</td>
            <td>{{ a.currentAmount }}</td>
            <td>{{ a.created_at }}</td>
            <td>{{ a.auto_bid_amount }}</td>
            <td>{{ a.bid_start }}</td>
            <td>{{ a.bid_end }}</td>
            <td>{{ a.registration_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>