<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <title>Dealer Bidding Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    ​
    <!-- Insert this script at the bottom of the HTML, but before you use any Firebase services -->
    ​
    <!-- Add the entire Firebase JavaScript SDK
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase.js"></script> -->
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="./node_modules/jquery/dist/jquery.min.js"></script>  -->

</head>
​

<body>
    <div class="container">
        <h1 style="text-align: center;padding: 35px;">Latest Dealer bids:</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Auction id</th>
                    <th scope="col">Dealer id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Auto bid Amount</th>
                </tr>
            </thead>
            <tbody> {% for a in res %}
                <tr>
                    <td>{{ a.id }}</td>
                    <td>{{ a.listing_auction_id }}</td>
                    <td id='userCell'>{{ a.dealer_id }}</td>
                    <td id='highestbidCell'>{{ a.amount }}</td>
                    <td id='timeCell'>{{ a.created_at }}</td>
                    <td id='autoBidCell'>{{ a.auto_bid_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div>

    <p>Hello there dosto..!!!</p>

    <script type="text/javascript">

        $(document).ready(function () {
            $("p").hover(function () {
                $(this).hide();
            });
        });

        var dbConfig = {
            'apiKey': 'AIzaSyBk-7IZSW-IJd5ag5ygGUsZGtXsu_uSihc',
            'authDomain': 'truebil-auction-app.firebaseapp.com',
            'databaseURL': 'https://truebil-auction-app.firebaseio.com',
            'projectId': 'truebil-auction-app',
            'storageBucket': 'truebil-auction-app.appspot.com',
            'messagingSenderId': '977779327744',
            'appId': '1:977779327744:web:d073034294e7f5373629e5'
        }

        // Initialize Firebase
        firebase.initializeApp(dbConfig);
        console.log('hieeee')
        const database = firebase.database();
        const usersRef = database.ref('BidInfo/18203');

        $(document).ready(function () {
            console.log('hello')
            var $bidValue = $('#bid');
            usersRef.once('value').then(function (snapshot) {
            console.log('hie')
            $bidValue.text(snapshot.child('highest_auto_bid').child('auto_bid_amount').val());
            });
        });

        usersRef.on('value', function (snapshot) {
            var $autoValue = $('#autoBidCell');
            console.log('ho bi jaa')
            $autoValue.text(snapshot.child('highest_auto_bid').child('auto_bid_amount').val());
            $('#userCell').text(snapshot.child('user_id').val());
            $('#highestbidCell').text(snapshot.child('highest_bid').val())
            //$('p').text('New bid updated');
        });
    </script>
</body>

</html>