<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealer Bidding Data</title>
    <link rel="shortcut icon" href="https://www.truebil.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <!-- <div class="container"> -->
    {% include 'navbar.html' %}
    <!-- </div> -->
    {% include 'data.html' %}
    <script type="text/javascript">
        dbConfig = {
            'apiKey': 'AIzaSyBk-7IZSw-IJd5ag5ygGUsZGtXsu_uSihc',
            'authDomain': 'truebil-auction-app.firebaseapp.com',
            'databaseURL': 'https://truebil-auction-app.firebaseio.com',
            'projectId': 'truebil-auction-app',
            'storageBucket': 'truebil-auction-app.appspot.com',
            'messagingSenderId': '977779327744',
            'appId': '1:977779327744:web:d073034294e7f5373629e5'
        };

        function GetSelectedCity(city) {
            var city = city.value;
        }
        $('#city').change(function () {
            var city = $(this).val();
            if (city == 'City') { city = 'Mumbai' }
            $('#source').text(city);
            $.post("dataFromDB/" + city + "/",
                {
                    city: city
                },
                function (response) {
                    $('#table').html(response)
                });
        });

        firebase.initializeApp(dbConfig);
        const database = firebase.database();
        const usersRef = database.ref('BidInfo');
        usersRef.on('value', function (snapshot) {
            var city = $('#city').val();
            if (city == 'City') { city = 'Mumbai' }
            console.log('ho bi jaa')

            $.post("dataFromDB/" + city + "/",
                {
                    city: 'city'
                },
                function (response) {
                    $('#table').html(response)
                });
        });


    </script>
</body>

</html>