<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Live Auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/database/dataFromDB">Active <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/database/dataFromDB/closed/">Closed </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/database/dataFromDB/scheduled/">Scheduled </a>
            </li>
            <select class="custom-select" id="city" onchange="GetSelectedCity(this)">
                <option id="default" selected>City</option>
                <option id="Mumbai">Mumbai</option>
                <option id="Delhi">Delhi</option>
                <option id="Bangalore">Bangalore</option>
            </select>
        </ul>
    </div>
    </div>
</nav>