<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealer Bidding Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
     <div class="container">
        <h1 style="text-align: center;padding: 35px;">{{ res }}</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Auction id</th>
                    <th scope="col">Dealer id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Auto bid Amount</th>
                </tr>
            </thead>
            <tbody> {% for a in abc %}
                <tr>
                    <td>{{ a.id }}</td>
                    <td>{{ a.listing_auction_id }}</td>
                    <td>{{ a.dealer_id }}</td>
                    <td>{{ a.amount }}</td>
                    <td>{{ a.created_at }}</td>
                    <td>{{ a.auto_bid_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div> 

     {% for a in abc.keys %}
    <td>{{ a }}</td><br />
    {% endfor %}
    {% for b in abc.values %}
    <td> {{ b }}</td> <br />
    {% endfor %} 
    <table class="table table-striped">
    {% for lis,work in comb_lis %}
    <tr>
    <td>{{ lis }} </td> 
    <td>{{ work }} </td>
    <br>
    </tr>
    {% endfor %}
</table>
</body>
</html> -->
